* {
    font-family: 'Montserrat', sans-serif !important;
    background-color: #292929 !important;
    color: #fff !important;
}
#mainContainer {
    margin-top: 150px; 
    text-align: center;
}
.table td {
    cursor: pointer;
}